table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #2e2e2e;
}
th {
  text-align: left;
}

td {
  vertical-align: bottom;
}

th, td {
  padding: 5px;
  text-align: left;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #c5c5c5}

tr:nth-child(even) {background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

th {
  width:200px;
}